@using Mapsui.UI.Blazor
@* @if (_selectedFeature is not null) *@
@* { *@
@*     <div class="map-info-popup animate-fade-in"> *@
@*         <div class="popup-header"> *@
@*             <h4>@(_selectedFeature["name"] ?? "Feature Details")</h4> *@
@*             <button class="close-btn" @onclick="() => _selectedFeature = null">✕</button> *@
@*         </div> *@
@* *@
@*         <div class="popup-body"> *@
@*             <table class="metadata-table"> *@
@*                 <tbody> *@
@*                 @foreach (var key in _selectedFeature.Fields) *@
@*                 { *@
@*                     if (key is "name" || _selectedFeature[key] is null) continue; *@
@* *@
@*                     var value = _selectedFeature[key]?.ToString(); *@
@*                     if (string.IsNullOrWhiteSpace(value)) continue; *@
@* *@
@*                     <tr> *@
@*                         <td class="meta-key">@key :</td> *@
@*                         <td class="meta-value"> *@
@*                             @if (value.StartsWith("http://") || value.StartsWith("https://")) *@
@*                             { *@
@*                                 <MudLink href="@value" target="_blank" class="badge-link"> *@
@*                                     @value *@
@*                                 </MudLink> *@
@*                             } *@
@*                             else *@
@*                             { *@
@*                                 @value *@
@*                             } *@
@*                         </td> *@
@*                     </tr> *@
@*                 } *@
@*                 </tbody> *@
@*             </table> *@
@*         </div> *@
@*     </div> *@
@* } *@

<div class="container">
    <div class="row">
        <div class="col border rounded p-2 canvas-container">
            <MapControlComponent @ref="_mapControl" />
        </div>
    </div>
</div>

<style>
    .canvas-container canvas {
        width: 100%;
        height: 80vh;
    }
</style>